/*Making the card*/
.row {
    display: flex;
}

.card{
    background-color: #fff;
    position: relative;
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: 510px;
}

.loading {
    opacity: 0.5;
}

.card img {
    display: block;
    width: 180px;
    height: 200px;
    position: relative;
    margin: 20px auto;
}

.hp {
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin: 0 0 0 auto;
    font-weight:  400;
}

.rank {
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin: 0;
    font-weight:  400;
}

.poke-name{
    text-align: center;
    font-weight: 600;
}

.types{
    display: flex;
    justify-content: space-around;
    margin: 20px 0 40px 0;
}

.hp span,
.types span{
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 600;
}

.types span{
    padding: 5px 20px;
    border-radius: 20px;
}

.stats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.stats p{
    color: #404060;
}
